<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Odeljenja_Form.Properties.Settings.Login_OceneConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.Login_OceneConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString4"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString5"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.Login_OceneConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString6"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.Login_OceneConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="Odeljenja_Form.Properties.Settings.Login_OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsForms.Properties.Settings.OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\SQLDatabases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsForms.Properties.Settings.Login_OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\SQLDatabases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
