<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsForms.Properties.Settings.OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\SQLDatabases\Ocene.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsForms.Properties.Settings.Login_OceneConnectionString_New"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\SQLDatabases\Login_Ocene.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
